<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/home.css}" rel="stylesheet" />
</head>
<body style="background-color: #FEFCE7;">
    <div class="box">
        <h1>CostsWatcher</h1><br>
        <a th:href="@{/signin}" class="button">Sign In</a><br>
        <a th:href="@{/signup}" class="button">Sign Up</a><br>
        <a th:href="@{/public-expenses}" class="button">Public Expenses</a>
    </div>
</body>
</html>