<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link th:href="@{/signup.css}" rel="stylesheet" />
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("psw");
            var toggleButton = document.getElementById("toggleImg");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.src = "/images/view.png"; // Set image to show password
            } else {
                passwordInput.type = "password";
                toggleButton.src = "/images/hide.png"; // Set image to hide password
            }
        }
    </script>
</head>
<body style="background-color: #FEFCE7;">
<div class="box">
    <h1>Sign Up</h1><br>

    <form th:action="@{/signup/submit}" th:object="${userEntity}" method="post">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="uname" th:field="*{username}" required>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" id="email" th:field="*{email}" required>
        <label for="psw"><b>Password</b></label>
        <div style="display: flex; align-items: center;">
            <input type="password" placeholder="Enter Password" id="psw" th:field="*{password}" style="width: calc(100% - 40px);" required>
            <button type="button" id="toggleBtn" onclick="togglePasswordVisibility()" style="width: 40px; height: 40px; padding: unset; margin-left: 10px;">
                <img src="/images/hide.png" alt="Toggle Password" id="toggleImg" style="width: 24px; height: 24px;">
            </button>
        </div>
        <button type="submit" style="margin-top: 8px;">Sign Up</button>
    </form>

    <form th:action="@{/}" method="get">
        <button type="submit" style="padding-top: 10px; padding-bottom: 10px;">
            <img src="/images/back.png" alt="Back" style="width: 24px; height: 24px;">
        </button>
    </form>

    <h3 th:text="${invalidSignUp}"></h3>
</div>
</body>
</html>
