<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expense Participant</title>
    <link th:href="@{/add_group_expense_participant.css}" rel="stylesheet" />
</head>
<body style="background-color: #FEFCE7;">
<div class="box">
    <h1>Add expense participant</h1><br>

    <form th:object="${formData}" th:action="@{'/group/'+ ${groupId} +'/edit/group-expense/' + ${expenseId} + '/add-member/submit'}" method="post">
        <div class="container">
            <label for="mname"><b>Member name</b></label>
            <input type="text" placeholder="Enter username" id="mname" minlength="3" maxlength="40" th:field="*{username}" required>
            <label for="amount"><b>Amount ($)</b></label>
            <input type="number" placeholder="Enter the amount" id="amount" min="1" th:field="*{amount}" required>
            <button type="submit">Add</button>
        </div>
    </form>

    <form th:action="@{'/group/'+ ${groupId} +'/edit/group-expense/' + ${expenseId}}" method="get">
        <button type="submit">Back</button>
    </form>

    <h3 th:text="${invalidFormData}"></h3>
</div>
</body>
</html>