<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Group</title>
    <link th:href="@{/create_group_form.css}" rel="stylesheet" />
</head>
<body style="background-color: #FEFCE7;">
<div class="box">
    <h1>Create Group</h1><br>

    <form th:action="@{/group/create/submit}" th:object="${groupEntity}" method="post">
        <div class="container">
            <label for="gname"><b>Group Name</b></label>
            <input type="text" placeholder="Enter Group Name" id="gname" th:field="*{groupName}" required>
            <button type="submit">Create</button>
        </div>
    </form>

    <form th:action="@{/groups}" method="get">
        <button type="submit">Back</button>
    </form>
</div>
</body>
</html>