<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Group</title>
    <link th:href="@{/edit_group.css}" rel="stylesheet" />
</head>
<body style="background-color: #FEFCE7;">
<div class="box">
    <h1 th:text="${group.groupName}"></h1>
    <h2 th:text="'Organizer: ' + ${group.getOrganizer().getUsername()}"></h2><br>

    <div class="lists">
        <div class="list-container">
            <h2>Group Members</h2>
            <ul class="member-list-entry" th:each="member : ${membersCollection}">
                <li class="members-list-item">
                    <span class="item-text" th:text="${member.username}"></span>
                    <div th:if="${signedInUser.getIdUser() == group.getOrganizer().getIdUser() && member.getIdUser() != signedInUser.getIdUser()}" class="item-buttons">
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/delete/member/' + ${member.getIdUser()}}" class="item-button">Remove</a>
                    </div>
                </li>
            </ul>
            <a th:if="${signedInUser.getIdUser() == group.getOrganizer().getIdUser()}" th:href="@{'/group/'+ ${group.idGroup} +'/add/member'}" class="item-button">Add Member</a>
        </div>

        <div class="list-container">
            <h2>Individual Expenses</h2>
            <ul th:each="expense : ${individualExpenses}">
                <li class="expenses-list-item">
                    <span class="item-text" th:text="${expense.name}"></span>
                    <div th:if="${signedInUser.getIdUser() == group.getOrganizer().getIdUser() || signedInUser.getIdUser() == expense.getIdUser()}" class="item-buttons">
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/edit/individual-expense/' + ${expense.idExpense}}" class="item-button">Edit</a>
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/delete/individual-expense/' + ${expense.idExpense}}" class="item-button">Delete</a>
                    </div>
                    <div th:unless="${signedInUser.getIdUser() == group.getOrganizer().getIdUser() || signedInUser.getIdUser() == expense.getIdUser()}" class="item-buttons">
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/show/individual-expense/' + ${expense.idExpense}}" class="item-button">Show</a>
                    </div>
                </li>
            </ul>
            <a th:href="@{'/group/'+ ${group.idGroup} +'/add/individual-expense'}" class="item-button">Add Expense</a>
        </div>

        <div class="list-container">
            <h2>Group Expenses</h2>
            <ul th:each="expense : ${groupExpenses}">
                <li class="expenses-list-item">
                    <span class="item-text" th:text="${expense.name}"></span>
                    <div th:if="${signedInUser.getIdUser() == group.getOrganizer().getIdUser() || isParticipantMap[expense.getIdExpense()] == true}" class="item-buttons">
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/edit/group-expense/' + ${expense.idExpense}}" class="item-button">Edit</a>
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/delete/group-expense/' + ${expense.idExpense}}" class="item-button">Delete</a>
                    </div>
                    <div th:unless="${signedInUser.getIdUser() == group.getOrganizer().getIdUser() || isParticipantMap[expense.getIdExpense()] == true}" class="item-buttons">
                        <a th:href="@{'/group/'+ ${group.idGroup} +'/show/group-expense/' + ${expense.idExpense}}" class="item-button">Show</a>
                    </div>
                </li>
            </ul>
            <a th:href="@{'/group/'+ ${group.idGroup} +'/add/group-expense'}" class="item-button">Add Expense</a>
        </div>
    </div><br>

    <div class="box-buttons">
        <a th:if="${signedInUser.getIdUser() != group.getOrganizer().getIdUser()}" th:href="@{'/group/'+ ${group.idGroup} +'/leave'}" class="item-button">Leave Group</a>
        <a th:href="@{/groups}" class="item-button">Back</a>
    </div>
</div>
</body>
</html>