<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Individual Expense</title>
    <link th:href="@{/show_individual_expense.css}" rel="stylesheet" />
</head>
<body style="background-color: #FEFCE7;">
<div class="box">
    <h1>Show individual expense</h1><br>

    <form th:object="${expenseEntity}">
        <div class="container">
            <label for="uname"><b>Added by</b></label>
            <input type="text" id="uname" th:value="${username}" disabled>
            <label for="date"><b>Date</b></label>
            <input type="datetime-local" id="date" th:field="*{date}" disabled>
            <label for="ename"><b>Expense name</b></label>
            <input type="text" placeholder="Enter expense name" id="ename" minlength="3" maxlength="40" th:field="*{name}" disabled>
            <label for="amount"><b>Expense amount ($)</b></label>
            <input type="number" placeholder="Enter expense amount" id="amount" min="1" th:field="*{amount}" disabled>
        </div>
    </form>

    <form th:action="@{'/group/edit/' + ${groupId} + '/individual-expenses'}" method="get">
        <button type="submit">Back</button>
    </form>
</div>
</body>
</html>