<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link th:href="@{/signin.css}" rel="stylesheet" />
</head>
<body style="background-color: #FEFCE7;">
<div class="box">
  <h1>Sign In</h1><br>

  <form th:action="@{/signin/submit}" th:object="${userEntity}" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="uname" th:field="*{username}" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="psw" th:field="*{password}" required>
      <button type="submit">Sign In</button>
    </div>
  </form>

  <h3 th:text="${invalidSignIn}"></h3>
</div>
</body>
</html>